db/nifty100.db
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Pytest
.pytest_cache/

# Virtual Environment
venv/
.env

# VS Code
.vscode/

# JetBrains IDEs
.idea/

# SQLite
*.db-journal

# OS Files
.DS_Store
Thumbs.db

# Build / Distribution
build/
dist/
*.egg-info/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/